.about {
    display: grid;
    grid-template-columns: 17% 1fr;
    margin-top: 6.8rem;
    padding-left: 5.4rem;
}

.about-picture {
    display: flex;
    justify-content: flex-end;
}

.about-message__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    color: $text-black;
}

.about-message__text {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 1.5rem;
    padding-right: 8rem;
    color: $text-black;
}

.about-message__button {
    width: 180px;
    height: 45px;
    border-radius: 5px;
    color: $skyblue;
    border: 1px solid $skyblue;
    background-color: $white;

    margin-top: 1.3rem;
    cursor: pointer;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: 0.3s;
}

.about-message__button:hover {
    color: $white;
    background-color: $skyblue;
}

@media (max-width: $desktop-width) {
    .about {
        padding: 0;
        grid-template-columns: 28% 1fr;
        margin-top: 0;
    }

    .about-picture {
        padding-top: 2rem;
        padding-left: 0.9rem
    }

    .about-picture img {
        object-fit: contain;
        width: 100%;
        transform: scale(1.2);
    }

    .about-message {
        padding-top: 2rem;
    }

    .about-message__title {
        font-size: 32px;
        line-height: 45px;
    }

    .about-message__text {
        font-size: 16px;
        line-height: 22px;
        padding-right: 2rem;
    }

    .about-message__text span {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .about {
        padding: 0;
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .about-picture {
        display: none;
    }

    .about-message {
        padding: 0 1rem;
        margin-top: 4.5rem;
    }

    .about-message__title {
        font-size: 28px;
        line-height: 39px;
    }

    .about-message__text {
        padding-right: 0;
        margin-top: 1.2rem;
        margin-bottom: 2.2rem;
    }

    .about-message__button {
        margin-top: 0;
    }
}
