.checkbox {
    position: absolute;
    width: 17px;
    height: 16px;
    transform: translateX(-2rem);

}

.checkbox--popup {
    transform: translateX(-3rem);
}

@media (max-width: $tablet-width) {
    .checkbox {
        transform: translateX(-2.2rem);
    }
}
