/* width: 39.72 для правого блока */
.form {
    background-color: $skyblue;
    padding-bottom: 7rem;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-picture {
    flex: 0 1 40%;
    padding-top: 9.9rem;
}

.form-form {
    flex: 0 1 44%;
}

.form-form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    padding-top: 3.9rem;
    padding-left: 3.1rem;
}

.form-form__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $white;
    margin-bottom: 0;
}

.form-form__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    font-family: PT Mono;

    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 0.2rem;
}

.form-form__fields {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    margin-top: 3.2rem;
}

.form-form__fields input {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border: none;
    background-color: $opacity-white;
    width: 270px;
    height: 50px;
    padding-left: 1.2rem;

}

.form-form__textarea {
    resize: none;
    width: 100%;
    height: 154px;
    background-color: $opacity-white;

    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    border: none;

    margin-top: 2.6rem;
    padding-top: 0.6rem;
    padding-left: 1.1rem;
}

.form-form__textarea::placeholder,
.form-form__fields input::placeholder {
    color: $white;
}

.form-form__textarea:focus,
.form-form__fields input:focus {
    outline: 1px solid $white;
}

.form-form__check {
    display: flex;
    margin-top: 2.4rem;
}

.form-form__button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid $white;
    border-radius: 5px;

    background-color: $skyblue;
    flex: 0 1 47.5%;
    height: 45px;
    color: $white;
    cursor: pointer;
}

.form-form__check label {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    padding-left: 4.4rem;
    padding-top: 0.4rem;
    flex: 0 1 52%;
    cursor: pointer;
    color: $white;
}

.form-form__checkbox {
    appearance: none;
    position: absolute;
}

.form-form__checkbox:active + .checkbox {
    background-image: url(../img/accept.svg);
    background-repeat: no-repeat;
}

@media (max-width: $desktop-width) {
    .form {
        padding-bottom: 6.3rem;
    }

    .form-form {
        flex: 0 1 100%;
    }

    .form-picture {
        display: none;
    }
    

    .form-form__fieldset {
        flex: 0 1 100%;
        padding: 0 5.5rem;   
    }

    .form-form__title {
        margin-top: 4.9rem;
        font-size: 32px;
        line-height: 45px;
    }

    .form-form__text {
        margin-top: 1rem;
        padding-left: 0.3rem;
    }

    .form-form__fields {
        justify-content: space-between;
        column-gap: 2.2rem;
        margin-top: 3.4rem;
    
    }

    .form-form__fields label {
        flex: 0 1 100%;
    }

    .form-form__fields input {
        width: 100%;
    }


    .form-form__textarea {
        padding-top: 1.1rem;
    }

    .form-form__check {
        margin-top: 3.3rem;
    }

    .form-form__check label {
        padding-left: 4.6rem;
    }
}

@media (max-width: $tablet-width) {
    .form {
        padding-bottom: 2.6rem;
    }

    .form-form__fieldset {
        padding: 0 0.8rem
    }

    .form-form__title {
        margin-top: 1.9rem;
        font-size: 28px;
        line-height: 39px;
    }

    .form-form__fields {
        flex-wrap: wrap;
        margin-top: 1.4rem;
        row-gap: 2rem;
    }

    .form-form__fields label {
        flex: 0 1 100%;
    }

    .form-form__fields input {
        width: 100%;
    }

    .form-form__textarea {
        margin-top: 2.2rem;
        padding-top: 0.7rem;
        height: 104px;
    }

    .form-form__check {
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }

    .form-form__button {
        flex: 0 1 100%;
    }

    .form-form__check label {
        flex: 0 1 100%;
        padding-left: 2.3rem;
        padding-top: 2rem;
    }
}
