.goods {
    background-color: $dark;
    height: 100%;
    margin-top: 6.9rem;
    padding-bottom: 8rem;
}

.goods-title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $white;
    padding-top: 5.5rem;
    padding-left: 8.1rem;
}

.goods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3.2rem;
}

.goods-block {
    display: block;
    flex: 0 1 26%;
    position: relative;
    min-height: 620px;
    display: block;

}

.goods-block--fees {
    background-image: url(../img/image-1.webp);
    background-size: 100% 620px;
    background-repeat: no-repeat;
    margin-right: 2rem;
    margin-left: 0.8rem;

    @media (min-resolution: $retina-dppx) {
        background-image: url(../img/image-1@2x.webp);
    }
}

.goods-block--assembly {
    background-image: url(../img/image-2.webp);
    background-size: 100% 620px;
    background-repeat: no-repeat;
    margin-right: 2rem;

    @media (min-resolution: $retina-dppx) {
        background-image: url(../img/image-2@2x.webp);
    }
}

.goods-block--light {
    background-image: url(../img/image-3.webp);
    background-size: 100% 620px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
        background-image: url(../img/image-3@2x.webp);
    }
}

.goods-block__link {
    display: block;
    transform: translateY(0);
    height: 100%;

    text-decoration: none;
    background-color: $opacity-dark;
    color: $white;
    transition: 0.3s;
}

.goods-block__link:hover {
    background-color: $opacity-black;
}

.goods-block__title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 3.2rem 8rem 0 2.8rem;
}

.goods-block--assembly h3 {
    padding-right: 9rem;
}

.goods-block--light h3 {
    padding-right: 10rem;
}

.goods-block__button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background-color: $skyblue;
    border: none;
    cursor: pointer;

    transition: 0.3s;
}

.goods-block__button:hover {
    opacity: 0.7;
}

@media (max-width: $desktop-width) {
    .goods {
        margin-top: 5.3rem;
        padding-bottom: 0;
    }

    .goods-container {
        flex-wrap: wrap;
        row-gap: 2.9rem;
        padding-bottom: 4.8rem
    }

    .goods-block {
        flex: 0 1 93%;
        margin: 0;
        min-height: 256px;
    }

    .goods-title {
        font-size: 32px;
        line-height: 45px;
        padding-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 7rem;
    }

    .goods-block--fees {
        background-image: url(../img/image-1-tab.webp);
        background-size: 100% 256px;

        @media (min-resolution: $retina-dppx) {
            background-image: url(../img/image-1-tab@2x.webp);
        }
    }

    .goods-block--assembly {
        background-image: url(../img/image-2-tab.webp);
        background-size: 100% 256px;

        @media (min-resolution: $retina-dppx) {
            background-image: url(../img/image-2-tab@2x.webp);
        }
    }

    .goods-block--light {
        background-image: url(../img/image-3-tab.webp);
        background-size: 100% 256px;

        @media (min-resolution: $retina-dppx) {
            background-image: url(../img/image-3-tab@2x.webp);
        }
    }

    .goods-block__title {
        padding: 2.6rem 33rem 0 2.6rem;
    }

    .goods-block--assembly h3 {
        padding-top: 2.4rem;
        padding-right: 30rem;
    }

    .goods-block--light h3 {
        padding-right: 32rem;
        padding-top: 3rem;
    }

    .goods-block__button {
        right: 0px;
        bottom: 0px;
    }
}

@media (max-width: $tablet-width) {
    .goods {
        margin-top: 4rem;
    }

    .goods-container {
        padding-top: 2.8rem;
        row-gap: 1.8rem;
        padding-bottom: 4rem;
    }

    .goods-title {
        font-size: 28px;
        line-height: 39px;
        padding-right: 1rem;
    }

    .goods-block--fees {
        background-image: url(../img/image-1-mob.webp);
        background-size: 100% 256px;

        @media (min-resolution: $retina-dppx) {
            background-image: url(../img/image-1-mob@2x.webp);
        }
    }

    .goods-block--assembly {
        background-image: url(../img/image-2-mob.webp);
        background-size: 100% 256px;

        @media (min-resolution: $retina-dppx) {
            background-image: url(../img/image-2-mob@2x.webp);
        }
    }

    .goods-block--light {
        background-image: url(../img/image-3-mob.webp);
        background-size: 100% 256px;

        @media (min-resolution: $retina-dppx) {
            background-image: url(../img/image-3-mob@2x.webp);
        }
    }

    .goods-block__title {
        padding: 1.2rem 7rem 0 2.5rem;
    }

    .goods-block--assembly h3 {
        padding-top: 1.2rem;
        padding-right: 6rem;
    }

    .goods-block--light h3 {
        padding-right: 6rem;
        padding-top: 2rem;
    }
}
