.promo {
    background-color: $dark;
    padding-top: 10.7rem;
    height: 789px;
}

.promo-container {
    display: flex;
    max-width: 1500px;
    min-width: $mobile-width;
    margin: 0 auto;
}

.promo-message {
    flex: 0 1 52%;
    padding-left: 2.5rem;
    position: relative;
    z-index: 4;
}

.promo-message__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0;
}

.promo-message__text {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: $white;

    padding-left: 4rem;
    margin-left: 2rem;
    margin-top: 1.7rem;
    position: relative;
    z-index: 3;
}

.promo-message__text::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: $white;
    top: 18px;
    left: -32px;
    z-index: 4;
}

.promo-message__button {

    background-color: $skyblue;
    border-radius: 5px; 
    border: none;
    width: 407px;
    height: 55px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;

    margin-left: 5.9rem;
    margin-top: 1.5rem;
    cursor: pointer;

    transition: 0.3s;
}

.promo-message__button:hover {
    opacity: 0.7;
}

.promo-picture {
    flex: 0 1 48%;
    position: relative;
    z-index: 4;
}

.promo-picture__image {
    position: absolute;
    left: 3rem;
}

@media (max-width: $desktop-width) {
    .promo {
        padding-top: 2.6rem;
        height: 611px;
    }
    
    .promo-container {
      max-width: $tablet-width;
    }
    
    .promo-message {
        flex: 0 1 64%;
        padding-left: 0;
        padding-left: 4.5rem;
    }

    .promo-message__title {
        font-size: 60px;
        line-height: 70px;  
        padding-left: 1rem;  
        margin-top: 4.5rem; 
    }

    .promo-message__text {
        font-size: 18px;
        line-height: 28px;
        padding-left: 2.1rem;    
    }

    .promo-message__text::before {
        width: 33px;
        top: 17px;
        left: -14px;
    }

    .promo-picture {
        flex: 0 1 36%;
        overflow: hidden;
    }

    .promo-picture__image {
        left: 7rem;
        top: 0;
        width: 100%;
        object-fit: contain;
        height: 340px;
        transform: scale(1.7);
        
    }

    .promo-message__button {
        width: 379px;
        margin-left: 0;
        margin-top: 2.4rem;
        position: absolute;
        right: -1.6rem;
    }
  }
  
  @media (max-width: $tablet-width) {
    .promo {
        padding-top: 1.8rem;
        height: 582px;
    }

    .promo-container {
      max-width: 90%;
      flex-wrap: wrap;
    }

    .promo-message {
        flex: 0 1 100%;
        order: 1;
        padding-left: 0rem;
        transform: translateY(-2rem);
        z-index: 5;
    }

    .promo-message__text::before {
        top: 13px;
        left: -14px;
    }

    .promo-message__title {
        font-size: 40px;
        line-height: 47px;
        margin-top: 0;
    }

    .promo-message__text {
        font-size: 16px;
        line-height: 25px;
    }

    .promo-picture {
        flex: 0 1 100%;
    }

    .promo-picture__image {
        height: 220px;
        position: static;
        transform: scale(1);
        transform: translateX(1.1rem);
    }

    .promo-message__button {
        width: 287px;
        position: static;
        font-size: 16px;
        line-height: 19px;
        margin-left: 1rem;
        margin-top: 1.4rem;
        text-align: center;
        letter-spacing: 0.05em;
    }

    .promo-message__button span {
        display: none;
    }
  }

