@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "scaffolding.scss";

//Blocks
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/footer.scss";
@import "blocks/promo.scss";
@import "blocks/benefits.scss";
@import "blocks/about.scss";